#board-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}

.board {
    border: 2px solid black;
}

.board-top {
    border-bottom: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    padding: .7rem;
}

.player-name {
    padding: .2rem;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .2rem
}