#content {
    background-color: rgb(42, 68, 237);
    display: grid;
    place-content: center;
    padding-top: 2em;
    padding-bottom: 5em
}

#winner-name-display {
    position: relative;
    place-self: center;
    height: 3rem;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    color: rgb(0, 255, 60);
}


/* Board container */

#board-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    height: 30em;
    width: 60em;
    gap: 4em;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.board {
    display: grid;
    grid-template-rows: 1fr 5fr;
    border: 4px solid black;
    margin: 2rem;
    height: 100%;
    width: 100%;
}

.board.winner {
    border: 4px solid rgb(0, 255, 60);
}

/* Board top */

.board-top {
    border-bottom: 3px groove black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    padding: .5em;
    font-size: 1.25em;
}

.player-name {
    font-style: italic;
    padding: .2em;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .2em;
    gap: 1.5em;
}

.board.winner .board-top {
    border-bottom: 3px solid rgb(0, 255, 60);
    color: rgb(0, 255, 60);
}


/* Board positions */

.board-positions {
    display: grid;
}

.board-pos {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

#right-board .board-pos {
    cursor: crosshair;
}

#right-board .board-pos.attacked {
    cursor: not-allowed;
}

#right-board .board-pos:hover {
    background-color: rgba(0, 0, 0, .7);
}

.board-pos.attacked.hit {
    background-color: rgb(89, 255, 0);
}

.board-pos.attacked.miss {
    background-color: rgb(95, 5, 5);
}

#right-board .board-pos.attacked:hover {
    background-color: rgba(95, 5, 5, 0.8);
}

#left-board .board-pos.taken {
    background-color: rgba(89, 255, 0, 0.4);
}

.board.winner .board-pos {
    border: 1px solid rgb(0, 255, 60);
}